@model EntriesIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form>
    <div class="form-row">
        <div class="form-group col-md-2">
            <select class="form-control" name="journal">
                <option value="">All</option>
                @foreach (var item in Model.Journals)
                {
                    if (Model.JournalFilter != null && Model.JournalFilter.Equals(item))
                    {
                        <option selected>@Html.DisplayFor(model => item)</option>
                    }
                    else
                    {
                        <option>@Html.DisplayFor(model => item)</option>
                    }

                }
            </select>
        </div>
        <div class="form-group col-md-4">
            <input class="form-control" type="text" name="title" value="@Html.DisplayFor(model => model.TitleFilter)" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" method="get">Filter</button>
        </div>
    </div>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entries[0].Journal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entries[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entries[0].Pages)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Entries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Journal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pages)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
